/************* Orange ********/
/*sharad Changes*/
.social-navbar .navbar-toggle {
    border-color: #fbb450;
    color: #ffffff;
}
.top_bar {
    background-color: #fbb450;
    background-image: none;
    border-color: #fbb450 #fbb450 #fbb450;
}
.social-navbar .navbar-nav > li > .top_panel_name:hover, .social-navbar .navbar-nav :focus {
    background-color: #fbb450;
}



/*sharad */

.social-navbar .navbar-nav > li > a:hover,
.social-navbar .navbar-nav > li > a:focus {
  color: #ffffff !important;
  background-color: #f7c986 !important;
}
.navbar-inner .brand:hover, .navbar-inner .nav > li > a:hover, .navbar-inner .brand:focus, .navbar-inner .nav > li > a:focus {
  color: #ffffff !important;
}
    
  .navbar-inner .nav > li > a:focus, .navbar-inner .nav > li > a:hover {
  background-color: #f7c986 !important;
  color: #ffffff !important;
} 

.social-navbar .nav .open > a,
.social-navbar .nav .open > a:hover,
.social-navbar .nav .open > a:focus {
  background-color: #f7c986 !important;
  border-color: #f7c986 !important;
}

.nav-setting .dropdown-menu li label:hover {
 background-color: #f7c986 !important;
  background-image: none !important;
  color: #ffffff !important;
  text-decoration: none !important;
}

.social-navbar .navbar-toggle:hover, .social-navbar .navbar-toggle:focus {
  background-color: #f7c986 !important;
}
.social-navbar .navbar-toggle:hover, .social-navbar .navbar-toggle:focus {
  border-bottom: 1px solid #f7c986 !important;
}

.dropdown-menu  a:hover {
 color: #ffffff !important;
  background-color: #f7c986 !important;
}
/************* Orange ********/ 