/************* Blue ********/
.social-navbar .navbar-toggle {border-color: #3b5998;color: #ffffff;}
.top_bar {background-color: #3b5998 !important;  background-image: none;  border-color: #324e78 #324e78 #003781 !important;}
.social-navbar .navbar-nav > li > .top_panel_name:hover, .social-navbar .navbar-nav :focus {background-color: #3b5998;}
.social-navbar .navbar-nav > li > a:hover,.social-navbar .navbar-nav > li > a:focus {color: #ffffff !important;background-color: #4a67a1 !important;}
.navbar-inner .brand:hover, .navbar-inner .nav > li > a:hover, .navbar-inner .brand:focus, .navbar-inner .nav > li > a:focus {color: #ffffff !important;}
.navbar-inner .nav > li > a:focus, .navbar-inner .nav > li > a:hover {background-color: #4a67a1 !important;color: #ffffff !important;} 
.social-navbar .nav .open > a,.social-navbar .nav .open > a:hover,.social-navbar .nav .open > a:focus {background-color: #4a67a1 !important; border-color: #4a67a1 !important;}
.nav-setting .dropdown-menu li label:hover {background-color: #4a67a1 !important;background-image: none !important;color: #ffffff !important;text-decoration: none !important;}
.social-navbar .navbar-toggle:hover, .social-navbar .navbar-toggle:focus {background-color: #4a67a1 !important;}
.social-navbar .navbar-toggle:hover, .social-navbar .navbar-toggle:focus {border-bottom: 1px solid #4a67a1 !important;}
.dropdown-menu  a:hover {color: #ffffff !important;background-color: #4a67a1 !important;}
.social-navbar .nav-indicators{background-color: #3b5998 !important; }
.social-navbar .nav-indicators .dropdown-toggle {  color: #fff !important;}
/************* Blue ********/ 