 .tabs-left .nav-tabs.nav-tabs-orange > .active > a, .tabs-left .nav-tabs.nav-tabs-orange > .active > a:hover, .tabs-left .nav-tabs.nav-tabs-orange > .active > a:focus {
  border-left: 2.5px solid #fbb450 !important;
  border-right: medium none !important;
  border-top: 1px solid #eeeeee !important;
}
.tabs-left > .nav-tabs > li > a {
  border-radius: 1px 0 0 1px !important;
  margin-right: -1px !important;
}
     .tabs-left > .nav-tabs > li > a {
  border-radius: 1px 0 0 1px !important;
  margin-right: -1px !important;
}
.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
  margin-bottom: 0 !important;
  min-width: 74px !important;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
  background-color: #ffffff !important;
  color: #333 !important;
   border-bottom: 2px solid #eeeeee !important;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-image: none !important;
  color: #555555 !important;
  cursor: default;
}
.nav-tabs > li > a {
  color: #333 !important;
  text-shadow: none !important;
  border-bottom: 1px solid #fff !important;
  border-left: 1px solid #fff !important;
  border-top: 1px solid #fff !important;
  background-color:#FFF ;
}
.nav-tabs > li > a {
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  padding-bottom: 8px;
  padding-top: 8px;
  position: relative;
}
.nav-tabs > li > a {
  border: 1px solid transparent;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  padding-bottom: 8px;
  padding-top: 8px;
  position: relative;
}
.tabs-left > .nav-tabs > li > a:hover, .tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee !important;
}